<h2>Products</h2>
<ng-container>
    <div *ngFor="let product of products; let index = index" class="product-container">
        <div>
            <p>{{product.name}}</p>
            <p>{{product.price}}</p>
            <p>{{product.ingredients}}</p>
            <form [formGroup]="form" (submit)="addToCart(index)">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input formControlName="amount" matInput type="number"/>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-flat-button color="primary" [disabled]="form.invalid">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
    <button mat-flat-button routerLink="/consumer/order-products">Order</button>
</ng-container>