<div class="main-div">
	<mat-card style="text-align: center;" class="mat-size">
		<mat-card-title>
			Log In
		</mat-card-title>
		<mat-card-content>
			<form (submit)="logIn()" [formGroup]="form">
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input formControlName="email" matInput />
						<mat-error *ngIf="form.invalid">{{getErrorForEmail()}}</mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Password</mat-label>
						<input formControlName="password" matInput type="password"/>
						<mat-error *ngIf="form.invalid">{{getErrorForPassword()}}</mat-error>
					</mat-form-field>
				</div>
				<div>
					<button style="margin-right:5px;" mat-flat-button color="primary" [disabled]="form.invalid">Log In</button>
					<a style="margin-right:5px;" mat-stroked-button routerLink="">Cancel</a>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>