<mat-toolbar color="primary">
    <ng-container>
        <span>
            <a routerLink="" mat-button>
                <mat-icon>home</mat-icon> Home</a>
        </span>
        <div *ngIf="security.getLoggedRole() == 'Consumer'">
            <span>
                <a routerLink="consumer/order-products" mat-button>Create Order</a>
            </span>
            <span>
                <a routerLink="consumer/previous-order" mat-button>Previous Orders</a>
            </span>
            <span>
                <a routerLink="consumer/current-order" mat-button>Current Orders</a>
            </span>
        </div>
        <div *ngIf="security.getLoggedRole() == 'Deliverer'">
            <span>
                <a routerLink="deliverer/available-order" mat-button>Available Orders</a>
            </span>
            <span>
                <a routerLink="deliverer/delivered-order" mat-button>Delivered Orders</a>
            </span>
            <span>
                <a routerLink="deliverer/actual-order" mat-button>Actual Order</a>
            </span>
        </div>
        <div *ngIf="security.getLoggedRole() == 'Admin'">
            <span>
                <a routerLink="admin/verification" mat-button>Verification</a>
            </span>
            <span>
                <a routerLink="admin/activation" mat-button>Activation</a>
            </span>
            <span>
                <a routerLink="admin/all-orders" mat-button>Orders</a>
            </span>
            <span>
                <a routerLink="admin/create-product" mat-button>Create Product</a>
            </span>
        </div>
        <span class="align-right"></span>
        <span *ngIf="security.isAuthenticated() == false">
            <a routerLink="user/register" mat-button>
                <mat-icon>app_registration</mat-icon> Registration</a>
        </span>
        <span *ngIf="security.isAuthenticated() == false">
            <a routerLink="user/login" mat-button>
                <mat-icon>login</mat-icon> Log In</a>
        </span>
        <span *ngIf="security.isAuthenticated() == true">
            <a routerLink="user/profile" mat-button>
                <mat-icon>account_circle</mat-icon>Profile</a>
        </span>
        <span *ngIf="security.isAuthenticated() == true">
            <a routerLink="user/login" mat-button (click)="security.logout()">
                <mat-icon>logout</mat-icon> Log Out</a>
        </span>
    </ng-container>
</mat-toolbar>