<div class="main-div">
	<mat-card style="text-align: center;">
		<mat-card-title>
			<h2>Edit Profile</h2>
		</mat-card-title>

		<mat-card-content>
			<form (submit)="edit()" [formGroup]="form">
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Username</mat-label>
						<input formControlName="username" matInput />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input readonly formControlName="email" matInput />
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="outline">
						<mat-label>First Name</mat-label>
						<input formControlName="firstName" matInput />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Last Name</mat-label>
						<input formControlName="lastName" matInput />
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Birthday</mat-label>
						<input formControlName="birthday" matInput [matDatepicker]="datepicker" />
						<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
						<mat-datepicker #datepicker></mat-datepicker>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<input formControlName="address" matInput />
						<mat-label>Address</mat-label>

					</mat-form-field>
				</div>
				<div>
					<button type="button" class="field" mat-flat-button color="primary" (click)="imageInput.click()">Select Image</button>
					<input type="file" hidden #imageInput accept="image/png, image/jpeg, image/jpg" />
				</div>
				<div>
					<button mat-flat-button color="primary" [disabled]="form.invalid">Edit</button>
					<a mat-stroked-button routerLink="">Cancel</a>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>