<div class="main-div">
    <mat-card class="mat-size"style="text-align: center;">
        <mat-card-title>
            <h2>Current Orders</h2>
        </mat-card-title>
        <mat-card-content>
            <div class="main-div">
                <div *ngIf="show" class="product-container">
                    <mat-card>
                        <mat-card-content>
                            <p class="stylename">Address: {{order.address}}</p>
                            <p class="stylename">Comment: {{order.comment}}</p>
                            <p *ngIf="order.status == 0" class="stylename">Status: Waiting</p>
                            <ng-container *ngIf="order.status == 1">
                                <p class="stylename">Status: In Progress</p>
                                <p *ngIf="counter > 0" class="stylename">Time: {{counter | formatTime}}</p>
                            </ng-container>
                            <p *ngIf="order.status == 2" class="stylename">Status: Delivered</p>
                            <button *ngIf="!showDetails" mat-flat-button color="primary" (click)="getDetails()">More</button>
                            <button *ngIf="showDetails" mat-flat-button color="warn" (click)="removeDetails()">Less</button>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <ng-container *ngIf="showDetails">
                <app-order-details [order]="orderToDisplay" [products]="productsToDisplay"></app-order-details>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="counter < 0 && !isDelivered">
    {{orderDelivered()}}
</div>
