<div class="main-div">
    <mat-card class="mat-size"style="text-align: center;">
        <mat-card-title>
            <h2>Delivered Orders</h2>
        </mat-card-title>
        <mat-card-content>
            <div class="left-div">
                <div *ngFor="let order of orders; let i = index" class="product-container">
                    <mat-card>
                        <mat-card-content>
                            <p class="stylename">Address: {{order.address}}</p>
                            <p class="stylename">Comment: {{order.comment}}</p>
                            <button mat-flat-button color="primary" (click)="getDetails(i)">More</button>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <ng-container *ngIf="showDetails">
                <app-order-details [order]="orderToDisplay" [products]="productsToDisplay"></app-order-details>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>








