<h2>Delivered Orders</h2>

<div>
    <ol>
        <ng-container *ngFor="let order of orders; let i = index">
            <li>
                <p>Address: {{order.address}}</p>
                <p>Comment: {{order.comment}}</p>
                <button mat-flat-button color="primary" (click)="getDetails(i)">Details</button>
            </li>
        </ng-container>
    </ol>
</div>

<ng-container *ngIf="showDetails">
    <app-order-details [order]="orderToDisplay" [products]="productsToDisplay"></app-order-details>
</ng-container>


