<div class="main-div">
    <mat-card style="text-align: center;">
        <mat-card-title>
            <h2>Verification Requests</h2>
        </mat-card-title>

        <mat-card-content>
            <div class="left-div">
                <ng-container *ngFor="let user of users; let i = index">
                    <mat-card class="content" style="text-align: center;">
                        <mat-card-content>
                            <div>
                                <p class="stylename">{{user.firstName}}  {{user.lastName}}</p>
                            </div>
                            <div>
                                <p class="stylename">{{user.email}}</p>
                            </div>
                            <div>
                                <p class="stylename">{{user.username}}</p>
                            </div>
                            <div>
                                <p class="stylename">{{user.address}}</p>
                            </div>
                            <div>
                                <p class="stylename">{{user.birthday | date}}</p>
                            </div>
                            <div>
                                <button mat-flat-button color="primary" (click)="accept(i)">Approve</button>
                                <button mat-flat-button color="warn" (click)="decline(i)">Decline</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </ng-container>
            </div>
        </mat-card-content>
    </mat-card>
</div>