<h2>Order Products</h2>

<div>
    <form [formGroup]="form">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <input formControlName="comment" matInput/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input readonly formControlName="price" matInput/>
            </mat-form-field>
        </div>
        <div>
            <ol>
                <ng-container *ngFor="let product of products; let i = index">
                    <li>
                        <h3>{{product.name}}</h3>
                        <p>Price: {{product.price}}</p>
                        <p>Ingredients: {{product.ingredients}}</p>
                        <p>Amount: {{product.amount}}</p>
                        <button mat-flat-button color="warn" (click)="removeFromCart(i)">Remove</button>
                    </li>
                </ng-container>
            </ol>
        </div>
        <div>
            <button mat-flat-button color="primary" (click)="order()" [disabled]="form.invalid">Order</button>
        </div>
    </form>
</div>
