<h2>Order Products</h2>
<div>
    <form [formGroup]="formOrder">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <input formControlName="comment" matInput/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input readonly formControlName="price" matInput/>
            </mat-form-field>
            <button mat-flat-button color="primary" routerLink="/consumer/pick-products">Products</button>
        </div>
    </form>
</div>
<div>
    <ng-container>
        <div *ngFor="let product of productToOrder; let index = index" class="product-container">
            <div>
                <p>{{product.name}}</p>
                <p>{{product.price}}</p>
                <p>{{product.ingredients}}</p>
                <p>{{product.amount}}</p>
            </div>
            <div>
                <a mat-flat-button color="warn" (click)="remove(index)">
                    Remove
                </a>
            </div>
        </div>
    </ng-container>
</div>
<div>
    <button mat-flat-button color="primary" (click)="order()" [disabled]="formOrder.invalid">Order</button>
</div>
